<div class="o-layout" style="min-height: 247.5px;">
  <div class="o-layout__content">
    <style>
    </style>
    <a id="hero-carousel" class="anchor"></a><div class="c-hero-wrap">
    <div class="c-hero js-hero-slider flickity-enabled is-draggable" data-id="10287" data-feed_option="cms" data-image_index="17" data-mobile_image_index="" data-default_background_image="https://aegwebprod.blob.core.windows.net/content/" data-default_background_color="" data-use_blur_effect="0" data-file="https://aegwebprod.blob.core.windows.net/json/lists/85/64/lists.json" data-skin="websterhall" data-layout_option="standard" data-ticket_status_map="" data-color_status_map="" data-ticket_url_option="eventUrl" tabindex="0">
                    <div class="flickity-viewport" style="height: 600px; touch-action: pan-y;"><div class="flickity-slider" style="left: 0px; transform: translateX(-800%);"><div class="c-hero__item c-hero__item640" alt="" aria-hidden="true" style="position: absolute; left: 0px; transform: translateX(0%);">
                <div class="c-hero-carousel__bg flickity-bg-lazyloaded" style="background-image: url(&quot;https://aegwebprod.blob.core.windows.net/content/hero_carousel_images/74/mMouEXLhVcMNms6ZnOpcblXKKAur6ekYBSnRUDyD.jpeg&quot;);"></div>
                                <div class="c-hero-carousel__container c-hero-carousel__container--std-layout">
                    <div class="c-hero-carousel__inner--fullscreen">
                                                    <p class="c-hero__subtitle c-hero-carousel__subtitle--std-layout"></p>
                                            </div>
                                    </div>
                            </div><div class="c-hero__item c-hero__item643" alt="" style="position: absolute; left: 0px; transform: translateX(100%);" aria-hidden="true">
                <div class="c-hero-carousel__bg flickity-bg-lazyloaded" style="background-image: url(&quot;https://aegwebprod.blob.core.windows.net/content/hero_carousel_images/74/Oxx2TxuYo0CCMv83DqWaD85JwfUM3LIIY8KFnB3d.jpeg&quot;);"></div>
                                <div class="c-hero-carousel__container c-hero-carousel__container--std-layout">
                    <div class="c-hero-carousel__inner--fullscreen">
                                                    <p class="c-hero__subtitle c-hero-carousel__subtitle--std-layout"></p>
                                            </div>
                                    </div>
                            </div><div class="c-hero__item c-hero__item641" alt="" style="position: absolute; left: 0px; transform: translateX(200%);" aria-hidden="true">
                <div class="c-hero-carousel__bg flickity-bg-lazyloaded" style="background-image: url(&quot;https://aegwebprod.blob.core.windows.net/content/hero_carousel_images/74/aU07jLWmc0sgMVnytOrMp5mOfHoYPSclPSQgPuZs.jpeg&quot;);"></div>
                                <div class="c-hero-carousel__container c-hero-carousel__container--std-layout">
                    <div class="c-hero-carousel__inner--fullscreen">
                                                    <p class="c-hero__subtitle c-hero-carousel__subtitle--std-layout"></p>
                                            </div>
                                    </div>
                            </div><div class="c-hero__item c-hero__item642" alt="" style="position: absolute; left: 0px; transform: translateX(300%);" aria-hidden="true">
                <div class="c-hero-carousel__bg flickity-bg-lazyloaded" style="background-image: url(&quot;https://aegwebprod.blob.core.windows.net/content/hero_carousel_images/74/FBIHrDi2t08chG886a9X8zyDULeP6T88Mg29HrRc.jpeg&quot;);"></div>
                                <div class="c-hero-carousel__container c-hero-carousel__container--std-layout">
                    <div class="c-hero-carousel__inner--fullscreen">
                                                    <p class="c-hero__subtitle c-hero-carousel__subtitle--std-layout"></p>
                                            </div>
                                    </div>
                            </div><div class="c-hero__item c-hero__item644" alt="" style="position: absolute; left: 0px; transform: translateX(400%);" aria-hidden="true">
                <div class="c-hero-carousel__bg flickity-bg-lazyloaded" style="background-image: url(&quot;https://aegwebprod.blob.core.windows.net/content/hero_carousel_images/74/i1Lm5rsJhCPIaO6laW0fEDRBMaPzYso0zdwS4x5f.jpeg&quot;);"></div>
                                <div class="c-hero-carousel__container c-hero-carousel__container--std-layout">
                    <div class="c-hero-carousel__inner--fullscreen">
                                                    <p class="c-hero__subtitle c-hero-carousel__subtitle--std-layout"></p>
                                            </div>
                                    </div>
                            </div><div class="c-hero__item c-hero__item645" alt="" style="position: absolute; left: 0px; transform: translateX(500%);" aria-hidden="true">
                <div class="c-hero-carousel__bg flickity-bg-lazyloaded" style="background-image: url(&quot;https://aegwebprod.blob.core.windows.net/content/hero_carousel_images/74/SGiGsTSxLn1si94OEmY7QEOhG9aFbAiWpZhEuOQv.jpeg&quot;);"></div>
                                <div class="c-hero-carousel__container c-hero-carousel__container--std-layout">
                    <div class="c-hero-carousel__inner--fullscreen">
                                                    <p class="c-hero__subtitle c-hero-carousel__subtitle--std-layout"></p>
                                            </div>
                                    </div>
                            </div><div class="c-hero__item c-hero__item646" alt="" style="position: absolute; left: 0px; transform: translateX(600%);" aria-hidden="true">
                <div class="c-hero-carousel__bg flickity-bg-lazyloaded" style="background-image: url(&quot;https://aegwebprod.blob.core.windows.net/content/hero_carousel_images/74/DzkuiyF14OvhhJbQEyS5rtA8SwEU7juvnHkwwu5Z.jpeg&quot;);"></div>
                                <div class="c-hero-carousel__container c-hero-carousel__container--std-layout">
                    <div class="c-hero-carousel__inner--fullscreen">
                                                    <p class="c-hero__subtitle c-hero-carousel__subtitle--std-layout"></p>
                                            </div>
                                    </div>
                            </div><div class="c-hero__item c-hero__item647" alt="" style="position: absolute; left: 0px; transform: translateX(700%);" aria-hidden="true">
                <div class="c-hero-carousel__bg flickity-bg-lazyloaded" style="background-image: url(&quot;https://aegwebprod.blob.core.windows.net/content/hero_carousel_images/74/JA9leGbAOXuSIGBQEs9vfnT7QzTkroojpnkbH3kT.jpeg&quot;);"></div>
                                <div class="c-hero-carousel__container c-hero-carousel__container--std-layout">
                    <div class="c-hero-carousel__inner--fullscreen">
                                                    <p class="c-hero__subtitle c-hero-carousel__subtitle--std-layout"></p>
                                            </div>
                                    </div>
                            </div><div class="c-hero__item c-hero__item648 is-selected" alt="" style="position: absolute; left: 0px; transform: translateX(800%);">
                <div class="c-hero-carousel__bg flickity-bg-lazyloaded" style="background-image: url(&quot;https://aegwebprod.blob.core.windows.net/content/hero_carousel_images/74/IS5PiWqbDw46xwn86vtMOPXfgXXJAPYxRGaV79Yd.jpeg&quot;);"></div>
                                <div class="c-hero-carousel__container c-hero-carousel__container--std-layout">
                    <div class="c-hero-carousel__inner--fullscreen">
                                                    <p class="c-hero__subtitle c-hero-carousel__subtitle--std-layout"></p>
                                            </div>
                                    </div>
                            </div><div class="c-hero__item c-hero__item649" alt="" style="position: absolute; left: 0px; transform: translateX(900%);" aria-hidden="true">
                <div class="c-hero-carousel__bg flickity-bg-lazyloaded" style="background-image: url(&quot;https://aegwebprod.blob.core.windows.net/content/hero_carousel_images/74/kF2YSLpzzzVHdHpTX3hQ1ZlsunDQZlzOp5BS33oR.jpeg&quot;);"></div>
                                <div class="c-hero-carousel__container c-hero-carousel__container--std-layout">
                    <div class="c-hero-carousel__inner--fullscreen">
                                                    <p class="c-hero__subtitle c-hero-carousel__subtitle--std-layout"></p>
                                            </div>
                                    </div>
                            </div><div class="c-hero__item c-hero__item650" alt="" style="position: absolute; left: 0px; transform: translateX(1000%);" aria-hidden="true">
                <div class="c-hero-carousel__bg flickity-bg-lazyloaded" style="background-image: url(&quot;https://aegwebprod.blob.core.windows.net/content/hero_carousel_images/74/TrD8LenwSBpQe6ayGL3EY3u4gMz15hmxO4TaRIcZ.jpeg&quot;);"></div>

                                <div class="c-hero-carousel__container c-hero-carousel__container--std-layout">
                    <div class="c-hero-carousel__inner--fullscreen">
                                                    <p class="c-hero__subtitle c-hero-carousel__subtitle--std-layout"></p>
                                            </div>
                                    </div>
                            </div></div></div><button class="flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button><button class="flickity-button flickity-prev-next-button next" type="button" aria-label="Next"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button></div>
</div>
                                    <a id="rentals-private-events" class="anchor"></a><div class="c-generic c-generic3597" style="
        " alt="Rentals &amp; Private Events">
        <h2 class="c-heading c-heading--primary" style="
            ">
        Rentals &amp; Private Events
    </h2>
        <div class="o-container">
        <div class="c-generic__content" style="">
            <section class="rentals-page">
  <section>
    <div class="border-bottom mb-4 pb-3 w-100">
      <h3>Deliver Cutting-Edge, Next-Level Special Events at Webster Hall</h3>
      <p>Whether it’s a social event, corporate meeting, conference, awards show, product launch, gala, concert, or charity fundraiser, Webster Hall is all about bringing people together for unforgettable experiences.</p>
      <p>The recent renovations at Webster Hall aimed to preserve the iconic features of the venue, while modernizing it to meet today’s entertainment standards and enhance the guest experience. The Ritz Lounge (formerly The Marlin Room) has been revamped to serve as a bar and meeting spot. Design details of The Lounge include elegant gold stenciling on the walls that pays homage to the original historic design, and fluted glass along the bar that mimics the venue’s former windows.</p>
      <p>In the Grand Ballroom, the original stage remains, while acoustics were enhanced to create an optimal special event experience. New features include air conditioning, expanded restrooms, additional stairwells for smoother entry and exit, and the venue’s first-ever elevator.</p>
    </div>
    <div class="mb-2 pb-3 w-100">
      <h3>Book Your Event At Webster Hall</h3>
      <p>For availability and more information, please contact:</p>
      <a href="mailto:buris@bowerypresents.com?subject=Rental%20Inquiry"><strong>BROOKE URIS</strong></a><br>
      <p class="small-text">Director – Special Events</p>
      <p>E:&nbsp;<a href="mailto:buris@bowerypresents.com?subject=Rental%20Inquiry" target="_blank">buris@bowerypresents.com</a><br>
        P:&nbsp;(845) 694-9786</p>
    </div>
    <div class="wufoo-wrap" id="wufoo-z1u2zshl03xlhf5"><iframe id="wufooFormz1u2zshl03xlhf5" class="wufoo-form-container" height="675" allowtransparency="true" sandbox="allow-top-navigation allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://aegpresents.wufoo.com/embed/z1u2zshl03xlhf5?embedKey=z1u2zshl03xlhf5761415&amp;entsource=&amp;referrer=https%3Awuslashwuslashwww.websterhall.comwuslashshowswuslash"><a href="https://aegpresents.wufoo.com/forms/z1u2zshl03xlhf5/" title="html form">Fill out my Wufoo form!</a></iframe></div>
    <script type="text/javascript"> var z1u2zshl03xlhf5;
    (function (d, t) {
      var s = d.createElement(t),
        options = { "userName": "aegpresents", "formHash": "z1u2zshl03xlhf5", "autoResize": true, "height": "600", "async": true, "host": "wufoo.com", "header": "show", "ssl": true };
      s.src = ("https:" == d.location.protocol ? "https://" : "http://") + "secure.wufoo.com/scripts/embed/form.js";
      s.onload = s.onreadystatechange = function () {
        var rs = this.readyState;
        if (rs) {
          if (rs != "complete") {
            if (rs != "loaded") {
              return;
            }
          }
        }
        try {
          z1u2zshl03xlhf5 = new WufooForm();
          z1u2zshl03xlhf5.initialize(options);
          z1u2zshl03xlhf5.display();
        } catch (e) { }
      };
      var scr = d.getElementsByTagName(t)[0], par = scr.parentNode;
      par.insertBefore(s, scr);
    })(document, "script"); </script>
  </section>
  <section class="aeg-3-1-grid mt-3">
    <div class="box">
      <a href="https://aegwebprod.blob.core.windows.net/content/other/wh-rentals-brochure.pdf" target="_blank">
        <img alt="AEG Special Events brochure" src="https://aegwebprod.blob.core.windows.net/content/bowery/webster-hall/wh-brochure.png">
      </a>
    </div>
    <div class="box">
      <iframe allowfullscreen="" frameborder="0" height="188" mozallowfullscreen="" src="https://www.youtube.com/embed/_sfgcj1N2hA" webkitallowfullscreen="" width="330"></iframe>
    </div>
    <div class="box">
      <a href="http://www.aegspecialeventvenues.com" target="_blank">
        <img alt="AEG Special Events promo" src="https://aegwebprod.blob.core.windows.net/content/bowery/webster-hall/aeg-venues-web.gif">
      </a>
    </div>
  </section>
</section>
        </div>
            </div>
</div>
                                    </div>
    </div>
