<figure class="kg-card kg-image-card">
  <img src="https://cdn-media-1.freecodecamp.org/images/wru4xpNDHyRR3JMz1eIvgtGAQHLjn-d8Cnui"
  class="kg-image" alt="wru4xpNDHyRR3JMz1eIvgtGAQHLjn-d8Cnui"
  width="600" height="400" loading="lazy">
</figure>
<figure class="kg-card kg-image-card">
  <img src="https://cdn-media-1.freecodecamp.org/images/063NW6I1LucSf8Oo1Tm4UDXif7mSVXOWK8Sb"
  class="kg-image" alt="063NW6I1LucSf8Oo1Tm4UDXif7mSVXOWK8Sb"
  width="600" height="400" loading="lazy">
</figure>
<figure class="kg-card kg-image-card kg-card-hascaption">
  <img src="https://cdn-media-1.freecodecamp.org/images/gtkZMkLD74Bggypce65qt-1O5dltlN9-wyFo"
  class="kg-image" alt="gtkZMkLD74Bggypce65qt-1O5dltlN9-wyFo"
  width="600" height="400" loading="lazy">
  <figcaption>Processing <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-281184-square.jpg" rel="noopener" target="_blank" title="">this picture</a> using Primitive, using <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-281184-square-10.svg" rel="noopener" target="_blank" title="">10 shapes</a> and <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-281184-square-100.svg" rel="noopener" target="_blank" title="">100 shapes</a>.</figcaption>
</figure>

<figure class="kg-card kg-image-card">
  <img src="https://cdn-media-1.freecodecamp.org/images/RcbRK2L4F5SN-LcbaAo3YBqi6YyisWSElWD1"
  class="kg-image" alt="RcbRK2L4F5SN-LcbaAo3YBqi6YyisWSElWD1"
  width="600" height="400" loading="lazy">
</figure>
<figure class="kg-card kg-image-card">
  <img src="https://cdn-media-1.freecodecamp.org/images/0BUVCyRTKGT60ZzgpQi5lFlrYkZa5Rcaivjv"
  class="kg-image" alt="0BUVCyRTKGT60ZzgpQi5lFlrYkZa5Rcaivjv"
  width="600" height="400" loading="lazy">
</figure>
<figure class="kg-card kg-image-card kg-card-hascaption">
  <img src="https://cdn-media-1.freecodecamp.org/images/VAetFfTVYQwi8ixmnMgOcJjVqdRDuVYW4lsV"
  class="kg-image" alt="VAetFfTVYQwi8ixmnMgOcJjVqdRDuVYW4lsV"
  width="600" height="400" loading="lazy">
  <figcaption>Processing <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-618463-square.jpg" rel="noopener" target="_blank" title="">this picture</a> using Primitive, using <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-618463-square-10.svg" rel="noopener" target="_blank" title="">10 shapes</a> and <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-618463-square-100.svg" rel="noopener" target="_blank" title="">100 shapes</a>.
  </figcaption>
</figure>

https://miro.medium.com/v2/resize:fit:1400/0*zJGl1vKLttcJGIL4.jpg">
https://www.gradnja.rs/prosirenje-etf-beograd-4-mind-javni-uvid/ETF-BG-PROSIRENJE-13-1536x864.webp
http://upisi.etf.unibl.org/student.jpg
<filter id="b"><feGaussianBlur stdDeviation="12" /></filter>

</figure>
<figure class="kg-card kg-image-card kg-card-hascaption">

<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
  <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
</svg>

<svg class="bd-placeholder-img" width="100%" height="auto" xmlns="http://www.w3.org/2000/svg"
aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
</svg>

This is a wider card with supporting text below as a natural lead-in to additional content.
This content is a little bit longer.

<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
<svg class="bd-placeholder-img card-img-top"
width="100%" height="225"
xmlns="http://www.w3.org/2000/svg"
role="img" aria-label="Placeholder: Thumbnail"
preserveAspectRatio="xMidYMid slice"
focusable="false">
<title>Placeholder</title>
<rect width="100%" height="100%" fill="#55595c"></rect>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000">
  <filter id="b"><feGaussianBlur stdDeviation="12" /></filter>
  <path fill="#817c70" d="M0 0h2000v2000H0z"/>
  <g filter="url(#b)" transform="translate(4 4) scale(7.8125)"
    fill-opacity=".5">
    <ellipse fill="#000210" rx="1" ry="1" transform="matrix(50.41098 -3.7951 11.14787 148.07886 107 194.6)"/><ellipse fill="#eee3bb" rx="1" ry="1" transform="matrix(-56.38179 17.684 -24.48514 -78.06584 205 110.1)"/>
    <ellipse fill="#fff4bd" rx="1" ry="1"
      transform="matrix(35.40604 -5.49219 14.85017 95.73337 16.4 123.6)"/>
    <ellipse fill="#79c7db" cx="21" cy="39" rx="65" ry="65"/>
    <ellipse fill="#0c1320" cx="117" cy="38" rx="34" ry="47"/>
    <ellipse fill="#5cb0cd" rx="1" ry="1"
      transform="matrix(-39.46201 77.24476 -54.56092 -27.87353 219.2 7.9)"/>
    <path fill="#e57339" d="M271 159l-123–16 43 128z"/>
    <ellipse fill="#47332f" cx="214" cy="237" rx="242" ry="19"/>
  </g>
</svg>
<img src="https://cdn-media-1.freecodecamp.org/images/wru4xpNDHyRR3JMz1eIvgtGAQHLjn-d8Cnui"
class="kg-image" alt="wru4xpNDHyRR3JMz1eIvgtGAQHLjn-d8Cnui"
width="100%" height="230" loading="lazy"></figure>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000">
  <filter id="b"><feGaussianBlur stdDeviation="12" /></filter>
  <path fill="#817c70" d="M0 0h2000v2000H0z"/>
  <g filter="url(#b)" transform="translate(4 4) scale(7.8125)"
    fill-opacity=".5">
    <ellipse fill="#000210" rx="1" ry="1" transform="matrix(50.41098 -3.7951 11.14787 148.07886 107 194.6)"/><ellipse fill="#eee3bb" rx="1" ry="1" transform="matrix(-56.38179 17.684 -24.48514 -78.06584 205 110.1)"/>
    <ellipse fill="#fff4bd" rx="1" ry="1"
      transform="matrix(35.40604 -5.49219 14.85017 95.73337 16.4 123.6)"/>
    <ellipse fill="#79c7db" cx="21" cy="39" rx="65" ry="65"/>
    <ellipse fill="#0c1320" cx="117" cy="38" rx="34" ry="47"/>
    <ellipse fill="#5cb0cd" rx="1" ry="1"
      transform="matrix(-39.46201 77.24476 -54.56092 -27.87353 219.2 7.9)"/>
    <path fill="#e57339" d="M271 159l-123–16 43 128z"/>
    <ellipse fill="#47332f" cx="214" cy="237" rx="242" ry="19"/>
  </g>
</svg>

<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
width="500" height="500" xmlns="http://www.w3.org/2000/svg"
style="color: #846444;" role="img" aria-label="Placeholder: 500x500"
preserveAspectRatio="xMidYMid slice" focusable="false">
  <title style="color: #846444;">Placeholder</title>
  <rect style="color: #846444;" width="100%" height="100%"
  fill="var(--bs-secondary-bg)"></rect>
  <text style="color: #846444;" x="50%" y="50%"
  fill="var(--bs-secondary-color)"
  dy=".3em">500x500</text>
</svg>
<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
width="500" height="500" xmlns="http://www.w3.org/2000/svg"
role="img" aria-label="Placeholder: 500x500"
preserveAspectRatio="xMidYMid slice" focusable="false">
<title>Placeholder</title>
<rect width="100%" height="100%"
  fill="var(--bs-secondary-bg)"></rect>
<text x="50%" y="50%"
fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000">
  <figure class="kg-card kg-image-card">
  <img src="https://cdn-media-1.freecodecamp.org/images/wru4xpNDHyRR3JMz1eIvgtGAQHLjn-d8Cnui"
  class="kg-image" alt="wru4xpNDHyRR3JMz1eIvgtGAQHLjn-d8Cnui"
  width="100%" height="230" loading="lazy"></figure>
</svg>

<svg class="bd-placeholder-img card-img-top"
width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
role="img" aria-label="Placeholder: Thumbnail"
preserveAspectRatio="xMidYMid slice" focusable="false">
<title>Placeholder</title>
<rect width="100%" height="100%" fill="#55595c"></rect>
<text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
</svg>

<img width="640" height="640"
  src="example.jpg” alt="Add descriptive alt text"
  style="background-size: cover;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAw…<stripped base 64>…PjwvZz48L3N2Zz4=);">
Thumbnail

<figure class="kg-card kg-image-card"><img src="https://cdn-media-1.freecodecamp.org/images/hbNTQ6U2ikSx2bBCETSrj9QsjVlJReX-Hlqx" class="kg-image" alt="hbNTQ6U2ikSx2bBCETSrj9QsjVlJReX-Hlqx" width="600" height="400" loading="lazy"></figure>
<figure class="kg-card kg-image-card kg-card-hascaption"><img src="https://cdn-media-1.freecodecamp.org/images/8h21TmNbbC7eOxBKNkOo2TXV-Ulwx5a3Z9bd" class="kg-image" alt="8h21TmNbbC7eOxBKNkOo2TXV-Ulwx5a3Z9bd" width="600" height="400" loading="lazy"><figcaption>The output images using SQIP for <a href="https://jmperezperez.com/assets/images/posts/svg-placeholders/pexels-photo-281184-square-sqip.svg" rel="noopener" target="_blank" title="">the first picture</a> and <a href="https://jmperezperez.com/svg-placeholders/(/assets/images/posts/svg-placeholders/pexels-photo-618463-square-sqip.svg" rel="noopener" target="_blank" title="">the second one</a>.</figcaption></figure>
<figure class="kg-card kg-image-card"><img src="https://cdn-media-1.freecodecamp.org/images/xIKbor-mLB7y7Ju8LXLibzxgGB5NTQbQNs64" class="kg-image" alt="xIKbor-mLB7y7Ju8LXLibzxgGB5NTQbQNs64" width="600" height="400" loading="lazy"></figure>

This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
<text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
<svg xmlns=”http://www.w3.org/2000/svg" width=”100%" height=”225"
xmlns="http://www.w3.org/2000/svg"
role="img" aria-label="Placeholder: Thumbnail"
preserveAspectRatio="xMidYMid slice" focusable="false">
<figure class="kg-card kg-image-card">
<img src="https://cdn-media-1.freecodecamp.org/images/wru4xpNDHyRR3JMz1eIvgtGAQHLjn-d8Cnui"
class="kg-image" alt="wru4xpNDHyRR3JMz1eIvgtGAQHLjn-d8Cnui"
width="100%" height="225" loading="lazy">
</figure>
<title>Placeholder</title>
<rect width="100%" height="100%" fill="#55595c"></rect>
<text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
</svg>
