<div class="fh fi mh">
  <picture>
    <source srcset="https://miro.medium.com/v2/resize:fit:640/format:webp/1*aW_KGB51XVqQXx-D2v1drQ.png 640w,
      https://miro.medium.com/v2/resize:fit:720/format:webp/1*aW_KGB51XVqQXx-D2v1drQ.png 720w,
      https://miro.medium.com/v2/resize:fit:750/format:webp/1*aW_KGB51XVqQXx-D2v1drQ.png 750w,
      https://miro.medium.com/v2/resize:fit:786/format:webp/1*aW_KGB51XVqQXx-D2v1drQ.png 786w,
      https://miro.medium.com/v2/resize:fit:828/format:webp/1*aW_KGB51XVqQXx-D2v1drQ.png 828w,
      https://miro.medium.com/v2/resize:fit:1100/format:webp/1*aW_KGB51XVqQXx-D2v1drQ.png 1100w,
      https://miro.medium.com/v2/resize:fit:1186/format:webp/1*aW_KGB51XVqQXx-D2v1drQ.png 1186w"
    sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw,
           (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw,
           (min-resolution: 3dppx) and (max-width: 700px) 67vw,
           (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw,
           (min-resolution: 2.5dppx) and (max-width: 700px) 80vw,
           (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw,
           (min-resolution: 2dppx) and (max-width: 700px) 100vw,
           (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 593px"
      type="image/webp">
    <source data-testid="og"
      srcset="https://miro.medium.com/v2/resize:fit:640/1*aW_KGB51XVqQXx-D2v1drQ.png 640w,
              https://miro.medium.com/v2/resize:fit:720/1*aW_KGB51XVqQXx-D2v1drQ.png 720w,                 https://miro.medium.com/v2/resize:fit:786/1*aW_KGB51XVqQXx-D2v1drQ.png 786w,
              https://miro.medium.com/v2/resize:fit:828/1*aW_KGB51XVqQXx-D2v1drQ.png 828w,
              https://miro.medium.com/v2/resize:fit:1100/1*aW_KGB51XVqQXx-D2v1drQ.png 1100w,
              https://miro.medium.com/v2/resize:fit:1186/1*aW_KGB51XVqQXx-D2v1drQ.png 1186w"
      sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw,
             (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw,
             (min-resolution: 3dppx) and (max-width: 700px) 67vw,
             (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw,
             (min-resolution: 2.5dppx) and (max-width: 700px) 80vw,
             (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw,
             (min-resolution: 2dppx) and (max-width: 700px) 100vw,
             (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw,
             593px">
    <img alt="" class="bf kf kg c" width="593" height="82"
      loading="lazy" role="presentation"
      src="https://miro.medium.com/v2/resize:fit:1186/1*aW_KGB51XVqQXx-D2v1drQ.png">
  </picture>
</div>
