<figure class="ev ex ig ih ii ij er es paragraph-image">
  <div role="button" tabindex="0" class="ik il di im bf in">
    <div class="er es if">
      <picture>
        <source
          srcset="http://upisi.etf.unibl.org/resize:fit:640/format:webp/student.jpg 640w,
                  http://upisi.etf.unibl.org/resize:fit:720/format:webp/student.jpg 720w,
                  http://upisi.etf.unibl.org/resize:fit:750/format:webp/student.jpg 750w,
                  http://upisi.etf.unibl.org/resize:fit:786/format:webp/student.jpg 786w,
                  http://upisi.etf.unibl.org/resize:fit:828/format:webp/student.jpg 828w,
                  http://upisi.etf.unibl.org/resize:fit:1100/format:webp/student.jpg 1100w,
                  http://upisi.etf.unibl.org/resize:fit:1400/format:webp/student.jpg 1400w"
          sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw,
                 (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw,
                 (min-resolution: 3dppx) and (max-width: 700px) 67vw,
                 (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw,
                 (min-resolution: 2.5dppx) and (max-width: 700px) 80vw,
                 (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw,
                 (min-resolution: 2dppx) and (max-width: 700px) 100vw,
                 (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 700px"
          type="image/webp">
        <source data-testid="og"
          srcset="http://upisi.etf.unibl.org/resize:fit:640/student.jpg 640w,
                  http://upisi.etf.unibl.org/resize:fit:720/student.jpg 720w,
                  http://upisi.etf.unibl.org/resize:fit:750/student.jpg 750w,
                  http://upisi.etf.unibl.org/resize:fit:786/student.jpg 786w,
                  http://upisi.etf.unibl.org/resize:fit:828/student.jpg 828w,
                  http://upisi.etf.unibl.org/resize:fit:1100/student.jpg 1100w,
                  http://upisi.etf.unibl.org/resize:fit:1400/student.jpg 1400w"
          sizes="(min-resolution: 4dppx) and (max-width: 700px) 50vw,
                 (-webkit-min-device-pixel-ratio: 4) and (max-width: 700px) 50vw,
                 (min-resolution: 3dppx) and (max-width: 700px) 67vw,
                 (-webkit-min-device-pixel-ratio: 3) and (max-width: 700px) 65vw,
                 (min-resolution: 2.5dppx) and (max-width: 700px) 80vw,
                 (-webkit-min-device-pixel-ratio: 2.5) and (max-width: 700px) 80vw,
                 (min-resolution: 2dppx) and (max-width: 700px) 100vw,
                 (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) 100vw, 700px">
            <img alt="" class="bf io ip c"
              width="100%" height="auto" loading="eager"
              role="presentation" src="http://upisi.etf.unibl.org/resize:fit:1400/student.jpg">
      </picture>
    </div>
  </div>
  <figcaption class="iq ir et er es is it bd b be z dx" data-selectable-paragraph="">
    Generating SVGs from images can be used for placeholders.
    Keep reading!</figcaption>
</figure>
