<ul id="likes">
  <li class="like_post like_photo_post clearfix">
    <div class="post_info_top" style="display:none;">
      <a href="https://novh.tumblr.com/post/33603314040/lukasz-wierzbowski">Photo</a>
      <span class="via">via</span> <a href="https://novh.tumblr.com/">novh</a>
    </div>
    <a href="https://novh.tumblr.com/post/33603314040/lukasz-wierzbowski" class="photo_link">
      <img class="like_photo" alt="" src="https://64.media.tumblr.com/tumblr_mbsxail74l1qzpxkgo1_250.jpg">
    </a>
    <div class="like_below_photo"></div>
    <div class="like_caption">
      <p><a href="http://www.flickr.com/photos/neon_tambourine/7585034992/in/faves-thomasvanderzaag/"
        target="_blank">Lukasz Wierzbowski</a>
      </p>
    </div>
    <div class="post_info_bottom" style="display:none;">
      <a href="https://novh.tumblr.com/post/33603314040/lukasz-wierzbowski">Photo</a>
      <span class="via">via</span> <a href="https://novh.tumblr.com/">novh</a>
    </div>
  </li>
  <li class="like_post like_photo_post clearfix">
    <div class="post_info_top" style="display:none;">
      <a href="https://life.justinchungstudio.com/post/33640934435/collin-hughes-photographer">Photo</a>
      <span class="via">via</span> <a href="https://life.justinchungstudio.com/">justinchungstudio</a>
    </div>
    <a href="https://life.justinchungstudio.com/post/33640934435/collin-hughes-photographer"
    class="photo_link">
      <img class="like_photo" alt="" src="https://64.media.tumblr.com/tumblr_mbxve6JUbH1qfn79co1_250.jpg">
    </a>
    <div class="like_below_photo"></div>
    <div class="like_caption">
      <p>Collin Hughes, photographer. </p>
    </div>
    <div class="post_info_bottom" style="display:none;">
      <a href="https://life.justinchungstudio.com/post/33640934435/collin-hughes-photographer">Photo</a>
      <span class="via">via</span> <a href="https://life.justinchungstudio.com/">justinchungstudio</a>
    </div>
  </li>
  <li class="like_post like_photo_post clearfix">
    <div class="post_info_top" style="display:none;">
      <a href="https://killette.tumblr.com/post/26924466722">Photo</a>
      <span class="via">via</span> <a href="https://killette.tumblr.com/">killette</a>
    </div>
    <a href="https://killette.tumblr.com/post/26924466722" class="photo_link">
      <img class="like_photo" alt="" src="https://64.media.tumblr.com/tumblr_m6xqcbbolH1qhqt17o1_250.jpg">
    </a>
    <div class="like_below_photo"></div>
    <div class="like_caption">
      <p><a href="http://killette.tumblr.com/tagged/mosh">Mosh</a></p>
    </div>
    <div class="post_info_bottom" style="display:none;">
      <a href="https://killette.tumblr.com/post/26924466722">Photo</a>
      <span class="via">via</span> <a href="https://killette.tumblr.com/">killette</a>
    </div>
  </li>
</ul>
