<section class="section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">
<div class="woocommerce-notices-wrapper"></div><h1 class="d-none d-lg-block mb-3">Directory – Directory &amp; Listing Bootstrap 5 Theme</h1>
<div class="row">
<div class="col-lg-8 mb-md-0 mb-3">
<div id="product-17532" class="post-17532 product type-product status-publish has-post-thumbnail product_cat-ecommerce-retail first instock downloadable shipping-taxable purchasable product-type-simple">
<div class="feature-screenshot">
<div class="" data-columns="4" style="opacity: 1; transition: opacity .25s ease-in-out;">
  <div data-thumb="https://themes.getbootstrap.com/wp-content/uploads/2019/02/directory-b5-1200x900-1200x900.jpg" class="woocommerce-product-gallery__image"><a href="https://themes.getbootstrap.com/wp-content/uploads/2019/02/directory-b5-1200x900-1200x900.jpg"><img width="1200" height="900" src="https://themes.getbootstrap.com/wp-content/uploads/2019/02/directory-b5-1200x900-1200x900.jpg" class="attachment-large_crop size-large_crop" alt="" title="directory-b5-1200x900" data-caption="" data-src="https://themes.getbootstrap.com/wp-content/uploads/2019/02/directory-b5-1200x900-1200x900.jpg" data-large_image="https://themes.getbootstrap.com/wp-content/uploads/2019/02/directory-b5-1200x900-1200x900.jpg" data-large_image_width="1200" data-large_image_height="900" srcset="https://themes.getbootstrap.com/wp-content/uploads/2019/02/directory-b5-1200x900.jpg 1200w, https://themes.getbootstrap.com/wp-content/uploads/2019/02/directory-b5-1200x900-800x600.jpg 800w, https://themes.getbootstrap.com/wp-content/uploads/2019/02/directory-b5-1200x900-768x576.jpg 768w, https://themes.getbootstrap.com/wp-content/uploads/2019/02/directory-b5-1200x900-600x450.jpg 600w, https://themes.getbootstrap.com/wp-content/uploads/2019/02/directory-b5-1200x900-200x150.jpg 200w, https://themes.getbootstrap.com/wp-content/uploads/2019/02/directory-b5-1200x900-400x300.jpg 400w, https://themes.getbootstrap.com/wp-content/uploads/2019/02/directory-b5-1200x900-540x405.jpg 540w" sizes="(max-width: 1200px) 100vw, 1200px"></a>
</div>
</div>
<a class="feature-screenshot__overlay" target="_blank" href="https://themes.getbootstrap.com/preview/?theme_id=17532">
<button class="btn btn-inverted">Launch live preview</button>
</a>
</div>
<!-- Responsive sidebar put below the theme -->
<div class="d-lg-none">
 <div class="d-flex justify-content-between align-items-center mb-3">
   <div>
     <h4 class="mt-3 mb-1">Directory – Directory &amp; Listing Bootstrap 5 Theme</h4>
  <div class="dropdown">
    <a class="dropdown-toggle link--dark" js-price-dropdown="true"
    href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Standard License</a>
    <div class="dropdown-menu dropdown-menu--xl dropdown-menu--centered dropdown-menu--has-triangle">
      <button class="dropdown-block-item switch_price_prod" data-type="Standard License" data-price="39.00" data-price_label="$39.00" data-label="Standard License">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span>Standard License</span>
          <span class="d-flex align-items-center">
            <span class="woocommerce-Price-amount amount">
              <span class="woocommerce-Price-currencySymbol">$</span>39.00
            </span>
          </span>
        </div>
        <ul class="fs-13 text-gray-soft mb-2">
          <li>Use for a single product</li>
          <li>Non-paying users only</li>
        </ul>
        <p class="fs-11 text-gray-soft">Read the full
          <a href="https://themes.getbootstrap.com/licenses#fullStandardLicense">Standard License</a>
        </p>
      </button>
      <div class="dropdown-divider"></div>
      <button class="dropdown-block-item switch_price_prod" data-type="Multisite License" data-price="129.00" data-price_label="$129.00" data-label="Multisite License">
          <div class="d-flex justify-content-between align-items-center mb-2"><span>Multisite License</span><span class="d-flex align-items-center">$129.00</span></div>
          <ul class="fs-13 text-gray-soft mb-2">
            <li>Use for a unlimited product</li>
            <li>Non-paying users only</li>
          </ul>
          <p class="fs-11 text-gray-soft">Read the full <a href="https://themes.getbootstrap.com/licenses#fullMultisiteLicense">Multisite License</a></p>
        </button>
        <div class="dropdown-divider">
        </div>
          <button class="dropdown-block-item switch_price_prod" data-type="Extended License" data-price="390.00" data-price_label="$390.00" data-label="Extended License">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Extended License</span>
              <span class="d-flex align-items-center">$390.00</span>
            </div>
            <ul class="fs-13 text-gray-soft mb-2">
              <li>Use for a single product</li>
              <li>Paying users allowed</li>
            </ul>
            <p class="fs-11 text-gray-soft">Read the full
              <a href="https://themes.getbootstrap.com/licenses#fullExtendedLicense">Extended License</a></p>
          </button>
        </div>
      </div>
   </div>
   <h3 class="d-flex align-items-center" js-price-value="main_price_div">
   </h3>
 </div>
 <div class="d-flex justify-content-between align-items-center mb-3">
    <a class="btn btn-brand btn-block" target="_blank"
    href="https://themes.getbootstrap.com/preview/?theme_id=17532">Live preview</a>
    <form action="https://themes.getbootstrap.com/cart/" method="POST" class="d-block w-100">
      <input type="hidden" js-license-type="license_type" name="license_type" value="Standard License">
      <input type="hidden" name="add-to-cart" value="17532">
      <button type="submit" class="btn btn-brand btn-block btn-checkout mt-0 ml-1">
        <span class="btn-text">Add to cart</span>
      </button>
    </form>
  </div>
</section>
