<!DOCTYPE html>
<html class=" js no-flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers no-applicationcache svg inlinesvg smil svgclippaths">
  <head>
    <title>My Bootstrap Example</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="product-template-default single single-product postid-21888 woocommerce theme-dokan woocommerce-page woocommerce-js dokan-theme-dokan">
    <section class="section-1">
      <p>This is the current section</p>
      <img src="swing-400.jpg">
    </section>
    <section class="section-2 hidden">
      <p>This is the current section</p>
      <img src="example-2.png">
    </section>
  </body>
</html>
